/.vs/VulkanTutorial/v16/.suo
/.vs/VulkanTutorial/v16/Browse.VC.db
/.vs/VulkanTutorial/v16/Browse.VC.db-shm
/.vs/VulkanTutorial/v16/Browse.VC.db-wal
/.vs/VulkanTutorial/v16/Browse.VC.opendb
/.vs/VulkanTutorial/v16/ipch/AutoPCH/11e5673df018ea9d/DEVICE.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/13b3bd5b1e2bb32e/VKRENDERER.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/252f0f7f4549dffb/APPLICATION.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/27ab74b71123781c/PIPELINE.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/36854d6fb4156a4a/VKWRAPPER.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/3dd61b9b0dffc4fb/MAIN.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/451bc4155522c3bc/VKWINDOW.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/45eb5991df7662af/VKWRAPPER.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/5c01d2dc5de65593/VKRENDERER.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/622edefef2a4bd6a/PIPELINE.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/a175556638988946/APPLICATION.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/af033f4ff6faef1e/PIPELINE.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/bc525d2e3306eeb5/VKWINDOW.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/c747a3595a7c8552/XTHROW.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/c74c977c6cb456cb/VKWRAPER.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/e0e3eac4c165468b/PIPELINE.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/f66471e8eaeb0adc/VKWRAPPER.ipch
/VulkanTutorial/Debug/VulkanTutorial.log
/VulkanTutorial/Debug/VulkanTutorial.tlog/CL.command.1.tlog
/VulkanTutorial/Debug/VulkanTutorial.tlog/VulkanTutorial.lastbuildstate
/VulkanTutorial/Debug/VulkanTutorial.tlog/unsuccessfulbuild
/VulkanTutorial/Debug/vc142.idb
/VulkanTutorial/Debug/vc142.pdb
/VulkanTutorial/x64/Debug/Application.obj
/VulkanTutorial/x64/Debug/Pipeline.obj
/VulkanTutorial/x64/Debug/VkRenderer.obj
/VulkanTutorial/x64/Debug/VkWindow.obj
/VulkanTutorial/x64/Debug/VkWrapper.obj
/VulkanTutorial/x64/Debug/VulkanTutorial.exe.recipe
/VulkanTutorial/x64/Debug/VulkanTutorial.ilk
/VulkanTutorial/x64/Debug/VulkanTutorial.log
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/CL.command.1.tlog
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/CL.read.1.tlog
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/CL.write.1.tlog
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/VulkanTutorial.lastbuildstate
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/link.command.1.tlog
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/link.read.1.tlog
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/link.write.1.tlog
/VulkanTutorial/x64/Debug/application.obj.enc
/VulkanTutorial/x64/Debug/main.obj
/VulkanTutorial/x64/Debug/main.obj.enc
/VulkanTutorial/x64/Debug/vc142.idb
/VulkanTutorial/x64/Debug/vc142.pdb
/VulkanTutorial/x64/Release/Application.obj
/VulkanTutorial/x64/Release/Pipeline.obj
/VulkanTutorial/x64/Release/VkWindow.obj
/VulkanTutorial/x64/Release/VkWrapper.obj
/VulkanTutorial/x64/Release/VulkanTutorial.exe.recipe
/VulkanTutorial/x64/Release/VulkanTutorial.iobj
/VulkanTutorial/x64/Release/VulkanTutorial.ipdb
/VulkanTutorial/x64/Release/VulkanTutorial.log
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/CL.command.1.tlog
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/CL.read.1.tlog
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/CL.write.1.tlog
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/VulkanTutorial.lastbuildstate
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/link.command.1.tlog
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/link.read.1.tlog
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/link.write.1.tlog
/VulkanTutorial/x64/Release/main.obj
/VulkanTutorial/x64/Release/vc142.pdb
/x64/Debug/CompiledShaders/SimpleShader.frag.spv
/x64/Debug/CompiledShaders/SimpleShader.vert.spv
/x64/Debug/VulkanTutorial.exe
/x64/Debug/VulkanTutorial.pdb
/x64/Release/VulkanTutorial.exe
/x64/Release/VulkanTutorial.pdb
/.vs/VulkanTutorial/v16/ipch/AutoPCH/44f06f209a40411b/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/d0d5baa5457c223d/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/dc5dc24f5f0fc7ae/*.ipch
/VulkanTutorial/x64/Release/*.obj
/.vs/VulkanTutorial/v16/ipch/AutoPCH/2459fc0c080afde9/*.ipch
/x64/Release/CompiledShaders/*.spv
/.vs/VulkanTutorial/v16/ipch/AutoPCH/64a2f1f877e74bc/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/4745f12ef3a947b5/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/68737bfaa48485a0/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/13225fd5bec85b78/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/17ee298fccae4761/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/1869202c36b19e17/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/197b6fc75869379d/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/1bf13a025cf1fffc/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/20e1c14258f135bf/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/2ede8f4486a583ca/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/3f0d90e2aa899fd0/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/41e914742d2c75ad/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/41f60f2c0c018a75/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/4e6b680dfe8c199e/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/4faaba5cc725dcb9/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/55f7747c981c37c3/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/5a237f7d4b3a001/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/6a71f796c315ca3d/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/6c266291dc43e36f/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/6e65b5aa74b2a54a/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/726118be4a4d4738/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/7894c3137cf1d026/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/83226f0e2bfe602f/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/886cd029ad65cfa1/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/91d9073dc2faa885/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/94466bb3536efa52/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/a2731ed4eaf65b5e/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/b47711a0afc8767c/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/bc91ca7062aad822/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/ce7241e1d76a78a/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/cfd36f919d37a198/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/da912aabe6bcca65/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/de70cea7c5861d14/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/e0bce7bde80c3404/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/e0c54910b06e541d/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/f982cfd2bbf2183/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/fcf9551ec4a8c688/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/fe31801c3d5dd46c/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/12355baff552f67c/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/7c581c5ac61c17db/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/8c164296115bccae/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/b02fdc4ebb58f00e/*.ipch
/VulkanTutorial/CompiledShaders/*.spv
/VulkanTutorial/x64/Debug/*.obj
/x64/Debug/CompiledShaders/Shaders/*.spv
/x64/Release/CompiledShaders/Shaders/*.spv
/.vs/VulkanTutorial/v16/ipch/AutoPCH/15a4176ed8c28320/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/37d6d573cbaaae03/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/526bffcd16b6ae59/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/940585e13a827518/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/9649069b78aabdc4/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/a337b7c8135d22a5/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/ab8f33f10e5c2324/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/b56d563ff7231a7d/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/bac8980e5960cb87/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/bb7443e351afd5b2/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/c2f9303748f1c01a/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/c516f90f761096f2/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/d002a142d6972d4f/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/d458896c5f90ce67/*.ipch
/VulkanTutorial/x64/Debug/*.log
/VulkanTutorial/x64/Debug/*.txt
/.vs/VulkanEngine/v16/*.suo
/.vs/VulkanEngine/v16/*.db
/.vs/VulkanEngine/v16/*.db-shm
/.vs/VulkanEngine/v16/*.db-wal
/.vs/VulkanEngine/v16/*.opendb
/.vs/VulkanEngine/v16/ipch/AutoPCH/df62a02db026bf83/*.ipch
/VulkanEngine/x64/Debug/*.obj
/VulkanEngine/x64/Debug/*.recipe
/VulkanEngine/x64/Debug/*.ilk
/VulkanEngine/x64/Debug/*.log
/VulkanEngine/x64/Debug/VulkanEngine.tlog/*.tlog
/VulkanEngine/x64/Debug/VulkanEngine.tlog/*.lastbuildstate
/VulkanEngine/x64/Debug/*.idb
/VulkanEngine/x64/Debug/*.pdb
/x64/Debug/*.exe
/x64/Debug/*.pdb
/.vs/VulkanEngine/v16/ipch/AutoPCH/10e015d1df2cbd2b/MESH.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/2488cd4362484208/COMMANDPOOL.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/327b782f6625887c/VERTEX.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/39af081a07fb8101/SYNCOBJECTS.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/46a0b1b30d2af8c6/RENDERER.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/49f25528d8ca4811/DEVICE.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/4b44ba37613f92b/RENDERPASS.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/531182af71025b69/SWAPCHAIN.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/6ae59271e6052178/COMMANDBUFFER.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/6ddb3effefffa1a/WINDOWMANAGER.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/8c266c5ef8ca19de/APPLICATION.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/bc8d4f9931eadaab/LOGCOLORIZED.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/c8622143e306f660/WINDOWSTATE.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/e9141cfc0d8cf915/PIPELINE.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/eef7270fe711d6d4/FRAMEBUFFERS.ipch
/VulkanEngine/x64/Debug/VulkanEngine.vcxproj.FileListAbsolute.txt
