/.vs/VulkanTutorial/v16/.suo
/.vs/VulkanTutorial/v16/Browse.VC.db
/.vs/VulkanTutorial/v16/Browse.VC.db-shm
/.vs/VulkanTutorial/v16/Browse.VC.db-wal
/.vs/VulkanTutorial/v16/Browse.VC.opendb
/.vs/VulkanTutorial/v16/ipch/AutoPCH/11e5673df018ea9d/DEVICE.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/13b3bd5b1e2bb32e/VKRENDERER.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/252f0f7f4549dffb/APPLICATION.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/27ab74b71123781c/PIPELINE.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/36854d6fb4156a4a/VKWRAPPER.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/3dd61b9b0dffc4fb/MAIN.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/451bc4155522c3bc/VKWINDOW.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/45eb5991df7662af/VKWRAPPER.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/5c01d2dc5de65593/VKRENDERER.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/622edefef2a4bd6a/PIPELINE.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/a175556638988946/APPLICATION.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/af033f4ff6faef1e/PIPELINE.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/bc525d2e3306eeb5/VKWINDOW.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/c747a3595a7c8552/XTHROW.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/c74c977c6cb456cb/VKWRAPER.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/e0e3eac4c165468b/PIPELINE.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/f66471e8eaeb0adc/VKWRAPPER.ipch
/VulkanTutorial/Debug/VulkanTutorial.log
/VulkanTutorial/Debug/VulkanTutorial.tlog/CL.command.1.tlog
/VulkanTutorial/Debug/VulkanTutorial.tlog/VulkanTutorial.lastbuildstate
/VulkanTutorial/Debug/VulkanTutorial.tlog/unsuccessfulbuild
/VulkanTutorial/Debug/vc142.idb
/VulkanTutorial/Debug/vc142.pdb
/VulkanTutorial/x64/Debug/Application.obj
/VulkanTutorial/x64/Debug/Pipeline.obj
/VulkanTutorial/x64/Debug/VkRenderer.obj
/VulkanTutorial/x64/Debug/VkWindow.obj
/VulkanTutorial/x64/Debug/VkWrapper.obj
/VulkanTutorial/x64/Debug/VulkanTutorial.exe.recipe
/VulkanTutorial/x64/Debug/VulkanTutorial.ilk
/VulkanTutorial/x64/Debug/VulkanTutorial.log
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/CL.command.1.tlog
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/CL.read.1.tlog
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/CL.write.1.tlog
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/VulkanTutorial.lastbuildstate
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/link.command.1.tlog
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/link.read.1.tlog
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/link.write.1.tlog
/VulkanTutorial/x64/Debug/application.obj.enc
/VulkanTutorial/x64/Debug/main.obj
/VulkanTutorial/x64/Debug/main.obj.enc
/VulkanTutorial/x64/Debug/vc142.idb
/VulkanTutorial/x64/Debug/vc142.pdb
/VulkanTutorial/x64/Release/Application.obj
/VulkanTutorial/x64/Release/Pipeline.obj
/VulkanTutorial/x64/Release/VkWindow.obj
/VulkanTutorial/x64/Release/VkWrapper.obj
/VulkanTutorial/x64/Release/VulkanTutorial.exe.recipe
/VulkanTutorial/x64/Release/VulkanTutorial.iobj
/VulkanTutorial/x64/Release/VulkanTutorial.ipdb
/VulkanTutorial/x64/Release/VulkanTutorial.log
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/CL.command.1.tlog
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/CL.read.1.tlog
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/CL.write.1.tlog
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/VulkanTutorial.lastbuildstate
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/link.command.1.tlog
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/link.read.1.tlog
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/link.write.1.tlog
/VulkanTutorial/x64/Release/main.obj
/VulkanTutorial/x64/Release/vc142.pdb
/x64/Debug/CompiledShaders/SimpleShader.frag.spv
/x64/Debug/CompiledShaders/SimpleShader.vert.spv
/x64/Debug/VulkanTutorial.exe
/x64/Debug/VulkanTutorial.pdb
/x64/Release/VulkanTutorial.exe
/x64/Release/VulkanTutorial.pdb
/.vs/VulkanTutorial/v16/ipch/AutoPCH/44f06f209a40411b/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/d0d5baa5457c223d/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/dc5dc24f5f0fc7ae/*.ipch
/VulkanTutorial/x64/Release/*.obj
/.vs/VulkanTutorial/v16/ipch/AutoPCH/2459fc0c080afde9/*.ipch
/x64/Release/CompiledShaders/*.spv
/.vs/VulkanTutorial/v16/ipch/AutoPCH/64a2f1f877e74bc/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/4745f12ef3a947b5/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/68737bfaa48485a0/*.ipch
