[submodule "VulkanEngine/Libraries/glm"]
	path = VulkanEngine/Libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "VulkanEngine/Libraries/imgui"]
	path = VulkanEngine/Libraries/imgui
	url = https://github.com/ocornut/imgui.git
