/.vs/VulkanTutorial/v16/.suo
/.vs/VulkanTutorial/v16/Browse.VC.db
/.vs/VulkanTutorial/v16/Browse.VC.db-shm
/.vs/VulkanTutorial/v16/Browse.VC.db-wal
/.vs/VulkanTutorial/v16/Browse.VC.opendb
/.vs/VulkanTutorial/v16/ipch/AutoPCH/11e5673df018ea9d/DEVICE.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/13b3bd5b1e2bb32e/VKRENDERER.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/252f0f7f4549dffb/APPLICATION.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/27ab74b71123781c/PIPELINE.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/36854d6fb4156a4a/VKWRAPPER.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/3dd61b9b0dffc4fb/MAIN.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/451bc4155522c3bc/VKWINDOW.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/45eb5991df7662af/VKWRAPPER.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/5c01d2dc5de65593/VKRENDERER.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/622edefef2a4bd6a/PIPELINE.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/a175556638988946/APPLICATION.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/af033f4ff6faef1e/PIPELINE.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/bc525d2e3306eeb5/VKWINDOW.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/c747a3595a7c8552/XTHROW.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/c74c977c6cb456cb/VKWRAPER.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/e0e3eac4c165468b/PIPELINE.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/f66471e8eaeb0adc/VKWRAPPER.ipch
/VulkanTutorial/Debug/VulkanTutorial.log
/VulkanTutorial/Debug/VulkanTutorial.tlog/CL.command.1.tlog
/VulkanTutorial/Debug/VulkanTutorial.tlog/VulkanTutorial.lastbuildstate
/VulkanTutorial/Debug/VulkanTutorial.tlog/unsuccessfulbuild
/VulkanTutorial/Debug/vc142.idb
/VulkanTutorial/Debug/vc142.pdb
/VulkanTutorial/x64/Debug/Application.obj
/VulkanTutorial/x64/Debug/Pipeline.obj
/VulkanTutorial/x64/Debug/VkRenderer.obj
/VulkanTutorial/x64/Debug/VkWindow.obj
/VulkanTutorial/x64/Debug/VkWrapper.obj
/VulkanTutorial/x64/Debug/VulkanTutorial.exe.recipe
/VulkanTutorial/x64/Debug/VulkanTutorial.ilk
/VulkanTutorial/x64/Debug/VulkanTutorial.log
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/CL.command.1.tlog
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/CL.read.1.tlog
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/CL.write.1.tlog
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/VulkanTutorial.lastbuildstate
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/link.command.1.tlog
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/link.read.1.tlog
/VulkanTutorial/x64/Debug/VulkanTutorial.tlog/link.write.1.tlog
/VulkanTutorial/x64/Debug/application.obj.enc
/VulkanTutorial/x64/Debug/main.obj
/VulkanTutorial/x64/Debug/main.obj.enc
/VulkanTutorial/x64/Debug/vc142.idb
/VulkanTutorial/x64/Debug/vc142.pdb
/VulkanTutorial/x64/Release/Application.obj
/VulkanTutorial/x64/Release/Pipeline.obj
/VulkanTutorial/x64/Release/VkWindow.obj
/VulkanTutorial/x64/Release/VkWrapper.obj
/VulkanTutorial/x64/Release/VulkanTutorial.exe.recipe
/VulkanTutorial/x64/Release/VulkanTutorial.iobj
/VulkanTutorial/x64/Release/VulkanTutorial.ipdb
/VulkanTutorial/x64/Release/VulkanTutorial.log
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/CL.command.1.tlog
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/CL.read.1.tlog
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/CL.write.1.tlog
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/VulkanTutorial.lastbuildstate
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/link.command.1.tlog
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/link.read.1.tlog
/VulkanTutorial/x64/Release/VulkanTutorial.tlog/link.write.1.tlog
/VulkanTutorial/x64/Release/main.obj
/VulkanTutorial/x64/Release/vc142.pdb
/x64/Debug/CompiledShaders/SimpleShader.frag.spv
/x64/Debug/CompiledShaders/SimpleShader.vert.spv
/x64/Debug/VulkanTutorial.exe
/x64/Debug/VulkanTutorial.pdb
/x64/Release/VulkanTutorial.exe
/x64/Release/VulkanTutorial.pdb
/.vs/VulkanTutorial/v16/ipch/AutoPCH/44f06f209a40411b/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/d0d5baa5457c223d/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/dc5dc24f5f0fc7ae/*.ipch
/VulkanTutorial/x64/Release/*.obj
/.vs/VulkanTutorial/v16/ipch/AutoPCH/2459fc0c080afde9/*.ipch
/x64/Release/CompiledShaders/*.spv
/.vs/VulkanTutorial/v16/ipch/AutoPCH/64a2f1f877e74bc/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/4745f12ef3a947b5/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/68737bfaa48485a0/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/13225fd5bec85b78/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/17ee298fccae4761/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/1869202c36b19e17/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/197b6fc75869379d/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/1bf13a025cf1fffc/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/20e1c14258f135bf/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/2ede8f4486a583ca/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/3f0d90e2aa899fd0/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/41e914742d2c75ad/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/41f60f2c0c018a75/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/4e6b680dfe8c199e/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/4faaba5cc725dcb9/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/55f7747c981c37c3/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/5a237f7d4b3a001/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/6a71f796c315ca3d/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/6c266291dc43e36f/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/6e65b5aa74b2a54a/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/726118be4a4d4738/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/7894c3137cf1d026/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/83226f0e2bfe602f/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/886cd029ad65cfa1/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/91d9073dc2faa885/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/94466bb3536efa52/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/a2731ed4eaf65b5e/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/b47711a0afc8767c/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/bc91ca7062aad822/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/ce7241e1d76a78a/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/cfd36f919d37a198/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/da912aabe6bcca65/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/de70cea7c5861d14/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/e0bce7bde80c3404/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/e0c54910b06e541d/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/f982cfd2bbf2183/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/fcf9551ec4a8c688/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/fe31801c3d5dd46c/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/12355baff552f67c/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/7c581c5ac61c17db/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/8c164296115bccae/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/b02fdc4ebb58f00e/*.ipch
/VulkanTutorial/CompiledShaders/*.spv
/VulkanTutorial/x64/Debug/*.obj
/x64/Debug/CompiledShaders/Shaders/*.spv
/x64/Release/CompiledShaders/Shaders/*.spv
/.vs/VulkanTutorial/v16/ipch/AutoPCH/15a4176ed8c28320/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/37d6d573cbaaae03/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/526bffcd16b6ae59/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/940585e13a827518/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/9649069b78aabdc4/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/a337b7c8135d22a5/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/ab8f33f10e5c2324/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/b56d563ff7231a7d/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/bac8980e5960cb87/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/bb7443e351afd5b2/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/c2f9303748f1c01a/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/c516f90f761096f2/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/d002a142d6972d4f/*.ipch
/.vs/VulkanTutorial/v16/ipch/AutoPCH/d458896c5f90ce67/*.ipch
/VulkanTutorial/x64/Debug/*.log
/VulkanTutorial/x64/Debug/*.txt
/.vs/VulkanEngine/v16/*.suo
/.vs/VulkanEngine/v16/*.db
/.vs/VulkanEngine/v16/*.db-shm
/.vs/VulkanEngine/v16/*.db-wal
/.vs/VulkanEngine/v16/*.opendb
/.vs/VulkanEngine/v16/ipch/AutoPCH/df62a02db026bf83/*.ipch
/VulkanEngine/x64/Debug/*.obj
/VulkanEngine/x64/Debug/*.recipe
/VulkanEngine/x64/Debug/*.ilk
/VulkanEngine/x64/Debug/*.log
/VulkanEngine/x64/Debug/VulkanEngine.tlog/*.tlog
/VulkanEngine/x64/Debug/VulkanEngine.tlog/*.lastbuildstate
/VulkanEngine/x64/Debug/*.idb
/VulkanEngine/x64/Debug/*.pdb
/x64/Debug/*.exe
/x64/Debug/*.pdb
/.vs/VulkanEngine/v16/ipch/AutoPCH/10e015d1df2cbd2b/MESH.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/2488cd4362484208/COMMANDPOOL.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/327b782f6625887c/VERTEX.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/39af081a07fb8101/SYNCOBJECTS.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/46a0b1b30d2af8c6/RENDERER.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/49f25528d8ca4811/DEVICE.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/4b44ba37613f92b/RENDERPASS.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/531182af71025b69/SWAPCHAIN.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/6ae59271e6052178/COMMANDBUFFER.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/6ddb3effefffa1a/WINDOWMANAGER.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/8c266c5ef8ca19de/APPLICATION.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/bc8d4f9931eadaab/LOGCOLORIZED.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/c8622143e306f660/WINDOWSTATE.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/e9141cfc0d8cf915/PIPELINE.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/eef7270fe711d6d4/FRAMEBUFFERS.ipch
/VulkanEngine/x64/Debug/VulkanEngine.vcxproj.FileListAbsolute.txt
/.vs/VulkanEngine/v16/ipch/AutoPCH/1533b20e6c77c78c/DESCRIPTORPOOL.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/4dea4fbde9f479ea/COMMONFUNCTIONS.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/8dd400d5b4088c8c/DESCRIPTORSET.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/93668b44cb89dfe6/COMONFUNCTIONS.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/cd36f17adc8f3c03/APPLICATION.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/ce448ad90c11f8e/UBOINFO.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/e458360b967193ef/UBO.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/eda3bfa877257a52/DESCRIPTORSETLAYOUT.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/eef4b278c3dccb4f/COMMONFUNCTIONS.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/f45f43ba5549b6d2/UBO.ipch
/.vs/*.json
/.vs/VulkanEngine/v16/ipch/AutoPCH/12ffef5102ebac2c/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/166c807684032f6f/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/26f9810e6215fc39/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/273daa4418a28299/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/29db1485025a2454/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/2bbb3aa3d22d25c4/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/2c9d448d8a2b6bdf/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/31ae005a5bb59e5f/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/3460d8e9faf50511/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/3757f098c0f5a59d/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/40e826fd1d97e166/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/4671f6338026ebb3/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/46eaf9f2eb4020d9/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/48a05c5f72c0694b/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/49ee3976ca6f21f5/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/5228246de7121c00/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/5c0090d8bf03bc6b/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/5fb05fea137d34c8/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/604a301fe23af592/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/62a77798d97dd554/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/68983072f71249f7/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/6c73a3b9a63c4d/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/6e14c8d4d7be544/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/738e785139f8cce5/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/790d96b428fe2300/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/7d8a83fd3fefd813/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/7da69683e2908131/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/7e5663bbd6eab08a/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/81908eb32e123473/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/81d19335c5e3a06/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/822934edcc4d4233/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/87ccc57ba9f3e5a7/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/8936930c3ba20641/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/9043ac39914e85a8/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/92f670c473105610/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/94e2cf5f9d76ff2e/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/99aefc2f1472928e/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/9ced0d200493c5bf/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/9ef08fcc2e384e20/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/a84303d8e9ba524e/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/a8f69d83fb198a68/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/acbf74d196f59244/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/aeaa87377faf72a5/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/af512d6e1b3ced39/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/b2caf89930f00021/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/b4865a0c542aa2b8/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/b87b00efd27a9117/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/b8ad637325086dfa/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/bd2c816bca8c875/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/c271dfe060a01b3d/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/c35c2995f84998e/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/d1d42e1d859fd4ad/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/d3a2387bd44da9aa/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/d4dafd29d7ff491d/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/d816a3766038cac2/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/db92858d34f4fbcd/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/de19bf994976e998/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/dfa40c71822859cd/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/e555d21a7414854d/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/e80f70f2b5a494a0/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/e886307692a936fc/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/edc0e6e079277174/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/f45ef9c4aad71a89/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/f5878c268d430ead/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/f6bea35a3acf3c32/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/fdcc18cc63d3da59/*.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/fe8b8d84e9d1f49d/*.ipch
/.vs/*.sqlite
/.vs/VulkanEngine/v16/ipch/AutoPCH/19f834f4bff43b/IMGUI_IMPL_GLFW.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/41954f0b6390a09d/TRANSFORMSYSTEM.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/556f4d1ce851970b/IMGUI.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/de2121b55c99e4ec/SCENE.ipch
/.vs/VulkanEngine/v16/ipch/fea3f4253f4c6fac.ipch
/ImGui/x64/Debug/ImGui.Build.CppClean.log
/ImGui/x64/Debug/ImGui.lib.recipe
/ImGui/x64/Debug/ImGui.log
/ImGui/x64/Debug/ImGui.tlog/CL.command.1.tlog
/ImGui/x64/Debug/ImGui.tlog/CL.read.1.tlog
/ImGui/x64/Debug/ImGui.tlog/CL.write.1.tlog
/ImGui/x64/Debug/ImGui.tlog/ImGui.lastbuildstate
/ImGui/x64/Debug/ImGui.tlog/Lib-link.read.1.tlog
/ImGui/x64/Debug/ImGui.tlog/Lib-link.write.1.tlog
/ImGui/x64/Debug/ImGui.tlog/Lib.command.1.tlog
/ImGui/x64/Debug/ImGui.vcxproj.FileListAbsolute.txt
/ImGui/x64/Debug/imgui.obj
/ImGui/x64/Debug/imgui_demo.obj
/ImGui/x64/Debug/imgui_draw.obj
/ImGui/x64/Debug/imgui_impl_glfw.obj
/ImGui/x64/Debug/imgui_impl_vulkan.obj
/ImGui/x64/Debug/imgui_tables.obj
/ImGui/x64/Debug/imgui_widgets.obj
/x64/Debug/ImGui.idb
/x64/Debug/ImGui.lib
/.vs/VulkanEngine/v16/ipch/AutoPCH/1d2bbdb6060eec7f/DESCRIPTORPOOL.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/22d5225bf1842fc0/IMGUI_IMPL_VULKAN.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/2e85731ae3a1ee0c/VULKANCONTEXT.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/307c072640a0135b/SAMPLER.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/3bd6c4094b2baaeb/ENGINECONTEXT.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/42cb882e4f71428/FRAMECONTEXT.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/502aa465aeb22fa9/THREADCONTEXT.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/6eedcdac4f47bb4e/SAMPLERCONTAINER.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/74338436fa1a001a/GUIPASS.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/7cbe3a266b563c7e/SAMPLER.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/8bbf35efe54f8db/COMMANDPOOL.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/8bcb726e9db88488/FORWARDPASSINFO.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/8d607c1b193ca0c5/VULKANCONTEXT.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/92753c61e1d88081/IMAGE.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/9488e5b546a71251/INITPASS.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/a14465fe99c76a99/RENDERQUEUE.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/a6f6a10d8627f60d/BUFFER.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/db477b47c5154922/GUIPASSINFO.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/dc953e609857ebcb/TEXTURECONTAINER.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/e089e0b5e3b7cf52/DESCRIPTORPOOL.ipch
/.vs/VulkanEngine/v16/ipch/AutoPCH/f5c42752c906f14c/IMGUI_DRAW.ipch
/VulkanEngine/imgui.ini
/x64/Release/ImGui.lib
/x64/Release/ImGui.pdb
/.vs/VulkanEngine/v16/ipch/AutoPCH/f4932978c044cb46/IMAGEMANAGEMENT.ipch
/.vs/VulkanEngine/FileContentIndex/99bf923b-cc1b-4b89-a033-1bd86ee006db.vsidx
/.vs/VulkanEngine/FileContentIndex/eeab9f9a-bdc2-415e-a764-20ba528f1201.vsidx
/.vs/VulkanEngine/v17/.suo
/.vs/VulkanEngine/v17/Browse.VC.db
/.vs/VulkanEngine/v17/Browse.VC.db-shm
/.vs/VulkanEngine/v17/Browse.VC.db-wal
/.vs/VulkanEngine/v17/Browse.VC.opendb
/.vs/VulkanEngine/v17/Solution.VC.db
/.vs/VulkanEngine/v17/Solution.VC.db-shm
/.vs/VulkanEngine/v17/Solution.VC.db-wal
/.vs/VulkanEngine/v17/fileList.bin
/.vs/VulkanEngine/v17/ipch/AutoPCH/3b49aab590c3dca5/SCENE.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/3bd6c4094b2baaeb/ENGINECONTEXT.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/74338436fa1a001a/GUIPASS.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/de2121b55c99e4ec/SCENE.ipch
/ThirdParty/ImGui/x64/Debug/ImGui.lib.recipe
/ThirdParty/ImGui/x64/Debug/ImGui.log
/ThirdParty/ImGui/x64/Debug/ImGui.tlog/CL.command.1.tlog
/ThirdParty/ImGui/x64/Debug/ImGui.tlog/CL.read.1.tlog
/ThirdParty/ImGui/x64/Debug/ImGui.tlog/CL.write.1.tlog
/ThirdParty/ImGui/x64/Debug/ImGui.tlog/Cl.items.tlog
/ThirdParty/ImGui/x64/Debug/ImGui.tlog/ImGui.lastbuildstate
/ThirdParty/ImGui/x64/Debug/ImGui.tlog/Lib-link.read.1.tlog
/ThirdParty/ImGui/x64/Debug/ImGui.tlog/Lib-link.write.1.tlog
/ThirdParty/ImGui/x64/Debug/ImGui.tlog/Lib.command.1.tlog
/ThirdParty/ImGui/x64/Debug/imgui.obj
/ThirdParty/ImGui/x64/Debug/imgui_demo.obj
/ThirdParty/ImGui/x64/Debug/imgui_draw.obj
/ThirdParty/ImGui/x64/Debug/imgui_impl_glfw.obj
/ThirdParty/ImGui/x64/Debug/imgui_impl_vulkan.obj
/ThirdParty/ImGui/x64/Debug/imgui_tables.obj
/ThirdParty/ImGui/x64/Debug/imgui_widgets.obj
/.vs/VulkanEngine/FileContentIndex/188f685d-f999-46a1-91df-84b9228932ca.vsidx
/.vs/VulkanEngine/FileContentIndex/624eaafb-f1ad-4b9d-b5b7-2339236cabea.vsidx
/.vs/VulkanEngine/FileContentIndex/8ed04556-88a1-4c09-a2dc-74c131e8a070.vsidx
/.vs/VulkanEngine/FileContentIndex/a44a2dbd-9703-4e51-94f6-6b6a06477f75.vsidx
/.vs/VulkanEngine/FileContentIndex/a73c2ffa-74a6-44ae-8fa5-986b70a324a8.vsidx
/.vs/VulkanEngine/v17/ipch/AutoPCH/5aedea3818f37de2/COMPONENTMANAGER.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/97b93eab58b131a0/SYSTEMMANAGER.ipch
/ContentLoader/x64/Debug/CommonFunctions.obj
/ContentLoader/x64/Debug/ContentLoader.Build.CppClean.log
/ContentLoader/x64/Debug/ContentLoader.lib.recipe
/ContentLoader/x64/Debug/ContentLoader.log
/ContentLoader/x64/Debug/ContentLoader.tlog/CL.command.1.tlog
/ContentLoader/x64/Debug/ContentLoader.tlog/CL.read.1.tlog
/ContentLoader/x64/Debug/ContentLoader.tlog/CL.write.1.tlog
/ContentLoader/x64/Debug/ContentLoader.tlog/Cl.items.tlog
/ContentLoader/x64/Debug/ContentLoader.tlog/ContentLoader.lastbuildstate
/ContentLoader/x64/Debug/ContentLoader.tlog/Lib-link.read.1.tlog
/ContentLoader/x64/Debug/ContentLoader.tlog/Lib-link.write.1.tlog
/ContentLoader/x64/Debug/ContentLoader.tlog/Lib.command.1.tlog
/ContentLoader/x64/Debug/ContentLoader.vcxproj.FileListAbsolute.txt
/ContentLoader/x64/Debug/TextureLoader.obj
/ECS/x64/Debug/ECS.Build.CppClean.log
/ECS/x64/Debug/ECS.lib.recipe
/ECS/x64/Debug/ECS.log
/ECS/x64/Debug/ECS.tlog/CL.command.1.tlog
/ECS/x64/Debug/ECS.tlog/CL.read.1.tlog
/ECS/x64/Debug/ECS.tlog/CL.write.1.tlog
/ECS/x64/Debug/ECS.tlog/Cl.items.tlog
/ECS/x64/Debug/ECS.tlog/ECS.lastbuildstate
/ECS/x64/Debug/ECS.tlog/Lib-link.read.1.tlog
/ECS/x64/Debug/ECS.tlog/Lib-link.write.1.tlog
/ECS/x64/Debug/ECS.tlog/Lib.command.1.tlog
/ECS/x64/Debug/ECS.vcxproj.FileListAbsolute.txt
/ECS/x64/Debug/EntityManager.obj
/Logger/x64/Debug/LogColorized.obj
/Logger/x64/Debug/Logger.Build.CppClean.log
/Logger/x64/Debug/Logger.lib.recipe
/Logger/x64/Debug/Logger.log
/Logger/x64/Debug/Logger.tlog/CL.command.1.tlog
/Logger/x64/Debug/Logger.tlog/CL.read.1.tlog
/Logger/x64/Debug/Logger.tlog/CL.write.1.tlog
/Logger/x64/Debug/Logger.tlog/Cl.items.tlog
/Logger/x64/Debug/Logger.tlog/Lib-link.read.1.tlog
/Logger/x64/Debug/Logger.tlog/Lib-link.write.1.tlog
/Logger/x64/Debug/Logger.tlog/Lib.command.1.tlog
/Logger/x64/Debug/Logger.tlog/Logger.lastbuildstate
/Logger/x64/Debug/Logger.vcxproj.FileListAbsolute.txt
/ThirdParty/ImGui/x64/Debug/ImGui.Build.CppClean.log
/ThirdParty/ImGui/x64/Debug/ImGui.vcxproj.FileListAbsolute.txt
/x64/Debug/ContentLoader.idb
/x64/Debug/ContentLoader.lib
/x64/Debug/ECS.idb
/x64/Debug/ECS.lib
/x64/Debug/Logger.idb
/x64/Debug/Logger.lib
/.vs/VulkanEngine/FileContentIndex/019924b9-9f83-431c-8e22-bdf3dc6ab237.vsidx
/.vs/VulkanEngine/FileContentIndex/063d04e1-270b-4275-8c89-10c31b239800.vsidx
/.vs/VulkanEngine/FileContentIndex/abe221f7-ba6c-4664-a9ef-6223fbbe17d9.vsidx
/.vs/VulkanEngine/FileContentIndex/d866d24b-4cd0-48b5-ad6c-34e36ab4b841.vsidx
/.vs/VulkanEngine/FileContentIndex/fd8637f7-b6dd-450d-91a7-12eab998a141.vsidx
/.vs/VulkanEngine/v17/ipch/AutoPCH/4097c6e57b2db37c/RENDEROBJECTSMANAGER.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/6094f33f2fb50c09/SCENESERIALIZER.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/714fb9bc389f0012/HIERARCHYSYSTEM.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/771e5b904237d7d1/MESHSYSTEM.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/8d033902851a33ab/HIERARCHYSYSTEM.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/951e8916db5b4670/TRANSFORMSYSTEM.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/c078a309fc631e9c/LIGHTSYSTEM.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/d5395ea7e412f42d/SHADER.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/e97f37b885d550bf/SCENESERIALIZER.ipch
/ContentLoader/x64/Release/CommonFunctions.obj
/ContentLoader/x64/Release/ContentLoader.lib.recipe
/ContentLoader/x64/Release/ContentLoader.log
/ContentLoader/x64/Release/ContentLoader.tlog/CL.command.1.tlog
/ContentLoader/x64/Release/ContentLoader.tlog/CL.read.1.tlog
/ContentLoader/x64/Release/ContentLoader.tlog/CL.write.1.tlog
/ContentLoader/x64/Release/ContentLoader.tlog/Cl.items.tlog
/ContentLoader/x64/Release/ContentLoader.tlog/ContentLoader.lastbuildstate
/ContentLoader/x64/Release/ContentLoader.tlog/Lib-link.read.1.tlog
/ContentLoader/x64/Release/ContentLoader.tlog/Lib-link.write.1.tlog
/ContentLoader/x64/Release/ContentLoader.tlog/Lib.command.1.tlog
/ContentLoader/x64/Release/TextureLoader.obj
/ECS/x64/Release/ECS.lib.recipe
/ECS/x64/Release/ECS.log
/ECS/x64/Release/ECS.tlog/CL.command.1.tlog
/ECS/x64/Release/ECS.tlog/CL.read.1.tlog
/ECS/x64/Release/ECS.tlog/CL.write.1.tlog
/ECS/x64/Release/ECS.tlog/Cl.items.tlog
/ECS/x64/Release/ECS.tlog/ECS.lastbuildstate
/ECS/x64/Release/ECS.tlog/Lib-link.read.1.tlog
/ECS/x64/Release/ECS.tlog/Lib-link.write.1.tlog
/ECS/x64/Release/ECS.tlog/Lib.command.1.tlog
/ECS/x64/Release/EntityManager.obj
/Logger/x64/Release/LogColorized.obj
/Logger/x64/Release/Logger.lib.recipe
/Logger/x64/Release/Logger.log
/Logger/x64/Release/Logger.tlog/CL.command.1.tlog
/Logger/x64/Release/Logger.tlog/CL.read.1.tlog
/Logger/x64/Release/Logger.tlog/CL.write.1.tlog
/Logger/x64/Release/Logger.tlog/Cl.items.tlog
/Logger/x64/Release/Logger.tlog/Lib-link.read.1.tlog
/Logger/x64/Release/Logger.tlog/Lib-link.write.1.tlog
/Logger/x64/Release/Logger.tlog/Lib.command.1.tlog
/Logger/x64/Release/Logger.tlog/Logger.lastbuildstate
/Scene/x64/Debug/HierarchySystem.obj
/Scene/x64/Debug/LightSystem.obj
/Scene/x64/Debug/MeshSystem.obj
/Scene/x64/Debug/RenderObjectsManager.obj
/Scene/x64/Debug/Scene.Build.CppClean.log
/Scene/x64/Debug/Scene.lib.recipe
/Scene/x64/Debug/Scene.log
/Scene/x64/Debug/Scene.obj
/Scene/x64/Debug/Scene.tlog/CL.command.1.tlog
/Scene/x64/Debug/Scene.tlog/CL.read.1.tlog
/Scene/x64/Debug/Scene.tlog/CL.write.1.tlog
/Scene/x64/Debug/Scene.tlog/Cl.items.tlog
/Scene/x64/Debug/Scene.tlog/Lib-link.read.1.tlog
/Scene/x64/Debug/Scene.tlog/Lib-link.write.1.tlog
/Scene/x64/Debug/Scene.tlog/Lib.command.1.tlog
/Scene/x64/Debug/Scene.tlog/Scene.lastbuildstate
/Scene/x64/Debug/Scene.vcxproj.FileListAbsolute.txt
/Scene/x64/Debug/SceneSerializer.obj
/Scene/x64/Debug/TransformSystem.obj
/Scene/x64/Release/HierarchySystem.obj
/Scene/x64/Release/LightSystem.obj
/Scene/x64/Release/MeshSystem.obj
/Scene/x64/Release/RenderObjectsManager.obj
/Scene/x64/Release/Scene.lib.recipe
/Scene/x64/Release/Scene.log
/Scene/x64/Release/Scene.obj
/Scene/x64/Release/Scene.tlog/CL.command.1.tlog
/Scene/x64/Release/Scene.tlog/CL.read.1.tlog
/Scene/x64/Release/Scene.tlog/CL.write.1.tlog
/Scene/x64/Release/Scene.tlog/Cl.items.tlog
/Scene/x64/Release/Scene.tlog/Lib-link.read.1.tlog
/Scene/x64/Release/Scene.tlog/Lib-link.write.1.tlog
/Scene/x64/Release/Scene.tlog/Lib.command.1.tlog
/Scene/x64/Release/Scene.tlog/Scene.lastbuildstate
/Scene/x64/Release/SceneSerializer.obj
/Scene/x64/Release/TransformSystem.obj
/ThirdParty/ImGui/x64/Release/ImGui.lib.recipe
/ThirdParty/ImGui/x64/Release/ImGui.log
/ThirdParty/ImGui/x64/Release/ImGui.tlog/CL.command.1.tlog
/ThirdParty/ImGui/x64/Release/ImGui.tlog/CL.read.1.tlog
/ThirdParty/ImGui/x64/Release/ImGui.tlog/CL.write.1.tlog
/ThirdParty/ImGui/x64/Release/ImGui.tlog/Cl.items.tlog
/ThirdParty/ImGui/x64/Release/ImGui.tlog/ImGui.lastbuildstate
/ThirdParty/ImGui/x64/Release/ImGui.tlog/Lib-link.read.1.tlog
/ThirdParty/ImGui/x64/Release/ImGui.tlog/Lib-link.write.1.tlog
/ThirdParty/ImGui/x64/Release/ImGui.tlog/Lib.command.1.tlog
/ThirdParty/ImGui/x64/Release/imgui.obj
/ThirdParty/ImGui/x64/Release/imgui_demo.obj
/ThirdParty/ImGui/x64/Release/imgui_draw.obj
/ThirdParty/ImGui/x64/Release/imgui_impl_glfw.obj
/ThirdParty/ImGui/x64/Release/imgui_impl_vulkan.obj
/ThirdParty/ImGui/x64/Release/imgui_tables.obj
/ThirdParty/ImGui/x64/Release/imgui_widgets.obj
/VulkanEngine/x64/Release/Application.obj
/VulkanEngine/x64/Release/Buffer.obj
/VulkanEngine/x64/Release/Camera.obj
/VulkanEngine/x64/Release/CommandBuffer.obj
/VulkanEngine/x64/Release/CommandPool.obj
/VulkanEngine/x64/Release/DescriptorPool.obj
/VulkanEngine/x64/Release/DescriptorSet.obj
/VulkanEngine/x64/Release/DescriptorSetLayout.obj
/VulkanEngine/x64/Release/Device.obj
/VulkanEngine/x64/Release/EngineContext.obj
/VulkanEngine/x64/Release/ForwardPass.obj
/VulkanEngine/x64/Release/ForwardPassInfo.obj
/VulkanEngine/x64/Release/ForwardPipelineInfo.obj
/VulkanEngine/x64/Release/FragmentShader.obj
/VulkanEngine/x64/Release/FrameBuffer.obj
/VulkanEngine/x64/Release/FrameContext.obj
/VulkanEngine/x64/Release/GuiPass.obj
/VulkanEngine/x64/Release/GuiPassInfo.obj
/VulkanEngine/x64/Release/Image.obj
/VulkanEngine/x64/Release/ImageManagement.obj
/VulkanEngine/x64/Release/InitPass.obj
/VulkanEngine/x64/Release/LightContainer.obj
/VulkanEngine/x64/Release/Mesh.obj
/VulkanEngine/x64/Release/MeshContainer.obj
/VulkanEngine/x64/Release/Pipeline.obj
/VulkanEngine/x64/Release/PresentPass.obj
/VulkanEngine/x64/Release/RenderContext.obj
/VulkanEngine/x64/Release/RenderPass.obj
/VulkanEngine/x64/Release/RenderQueue.obj
/VulkanEngine/x64/Release/Renderer.obj
/VulkanEngine/x64/Release/Sampler.obj
/VulkanEngine/x64/Release/SamplerContainer.obj
/VulkanEngine/x64/Release/Shader.obj
/VulkanEngine/x64/Release/SwapChain.obj
/VulkanEngine/x64/Release/SyncObject.obj
/VulkanEngine/x64/Release/TextureContainer.obj
/VulkanEngine/x64/Release/ThreadContext.obj
/VulkanEngine/x64/Release/UBO.obj
/VulkanEngine/x64/Release/VertexDescription.obj
/VulkanEngine/x64/Release/VertexShader.obj
/VulkanEngine/x64/Release/VulkanContext.obj
/VulkanEngine/x64/Release/VulkanEngine.exe.recipe
/VulkanEngine/x64/Release/VulkanEngine.iobj
/VulkanEngine/x64/Release/VulkanEngine.ipdb
/VulkanEngine/x64/Release/VulkanEngine.log
/VulkanEngine/x64/Release/VulkanEngine.tlog/CL.command.1.tlog
/VulkanEngine/x64/Release/VulkanEngine.tlog/CL.read.1.tlog
/VulkanEngine/x64/Release/VulkanEngine.tlog/CL.write.1.tlog
/VulkanEngine/x64/Release/VulkanEngine.tlog/Cl.items.tlog
/VulkanEngine/x64/Release/VulkanEngine.tlog/VulkanEngine.lastbuildstate
/VulkanEngine/x64/Release/VulkanEngine.tlog/link.command.1.tlog
/VulkanEngine/x64/Release/VulkanEngine.tlog/link.read.1.tlog
/VulkanEngine/x64/Release/VulkanEngine.tlog/link.write.1.tlog
/VulkanEngine/x64/Release/WindowManager.obj
/VulkanEngine/x64/Release/WindowState.obj
/VulkanEngine/x64/Release/main.obj
/VulkanEngine/x64/Release/vc143.pdb
/x64/Debug/Scene.idb
/x64/Debug/Scene.lib
/x64/Release/ContentLoader.lib
/x64/Release/ContentLoader.pdb
/x64/Release/ECS.lib
/x64/Release/ECS.pdb
/x64/Release/Logger.lib
/x64/Release/Logger.pdb
/x64/Release/Scene.lib
/x64/Release/Scene.pdb
/x64/Release/VulkanEngine.exe
/x64/Release/VulkanEngine.pdb
/.vs/VulkanEngine/FileContentIndex/0d561466-de5e-46b1-ba31-3629e1bd9870.vsidx
/.vs/VulkanEngine/FileContentIndex/9b250edb-3cf4-4ce0-b4fa-8166441d3f0d.vsidx
/.vs/VulkanEngine/FileContentIndex/b12f7ccf-f1a0-419d-9dcb-d21cc826b3f5.vsidx
/.vs/VulkanEngine/v17/ipch/AutoPCH/26f9810e6215fc39/MESHCONTAINER.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/29af355a8e3b1bb1/COORDINATOR.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/2a01aff71fde2676/LIGHTCONTAINER.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/acbf74d196f59244/MESH.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/af512d6e1b3ced39/DESCRIPTORSET.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/bd2c816bca8c875/VERTEXDESCRIPTION.ipch
/.vs/VulkanEngine/v17/ipch/AutoPCH/c059e907999ea07b/SCENE.ipch
/x64
.vs
